.main {
    margin-top: 75px;
    margin-left: 250px;
}


.title {
    color: darkslategray;
    margin-left: 10px;
    margin-bottom: 20px;
}



.card {
    border: none;
    margin-right: 30px;
  }

.card-body {
  border-radius: 30px;
}

.save-btn {
    border-radius: 20px;
    background-color: darkslategray;
    color: white;
    margin-top: 30px;
}

.nav-link:hover {
    color: peachpuff;
}

label{
    color: darkslategray;
    font-weight: bold;
}

.password-btn {
    background-color: rgba(47, 79, 79, 0.096);
    border: none;
    padding: 10px 20px 10px 20px;
}

.password-btn:hover {
    color: teal;
}
