.main {
    margin-top: 75px;
    margin-left: 250px;
}


.title {
    color: darkslategray;
    margin-left: 10px;
    margin-bottom: 20px;
}


.card {
    border-radius: 20px;
    border: none;
    margin-right: 30px;
  }

.save-btn {
    border-radius: 20px;
    background-color: darkslategray;
    color: white;
    margin-top: 30px;
}

.nav-link:hover {
    color: peachpuff;
}

label{
    color: darkslategray;
    font-weight: bold;
}

.password-btn {
    border-radius: 5px;
    border-color: grey;
    border-width: thin;
    background-color: transparent;
}

.password-btn:hover {
    color: teal;
}
