<!-- registration form -->
<ng-container *ngIf="!this.registered">
  <div class="bg-img vh-100 d-flex justify-content-center align-items-center">
    <div class="card" style="width: 30rem">
      <div class="card-body p-5">
        <form
          [formGroup]="registerForm"
          class="form-signin text-center"
          (ngSubmit)="registerForm.valid && register()"
        >
          <h1 class="mb-5 font-weight-bold">BugTracker</h1>
          <app-text-input [formControl]='registerForm.controls["firstName"]' [label]='"First Name"'></app-text-input>
          <app-text-input [formControl]='registerForm.controls["lastName"]' [label]='"Last Name"'></app-text-input>
          <app-text-input [formControl]='registerForm.controls["email"]' [label]='"Email"' [type]='"email"'></app-text-input>
          <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Password"' [type]='"password"'></app-text-input>
          <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [label]='"Confirm Password"' [type]='"password"'></app-text-input>
          <div class="row mt-5" *ngIf="validationErrors.length > 0">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>
          <button [diasbled]='!registerForm.valid' class="sign-in-btn btn btn-md mt-3 mb-5" type="submit">
            Register
          </button>
          <div>
            <p class="mb-0 text-muted">
              Already have an account? <a routerLink="/login">Sign In</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>

<!--message after successful registration-->
<ng-container *ngIf="this.registered">
  <div class="bg-img vh-100 d-flex justify-content-center align-items-center">
    <div class="card" style="width: 30rem">
      <div class="card-body p-5">
        <h4>
          An account has been created for <strong>{{ email }}</strong> ! You can
          now <a routerLink="/login">login</a> with your email and password.
        </h4>
      </div>
    </div>
  </div>
</ng-container>
