.main {
  margin-top: 75px;
  margin-left: 250px;
}

.title {
  color: darkslategray;
}


.card {
  border: none;
  margin-right: 30px;
}


.table thead th {
  color: darkslategrey;
  background-color: #f8f9fa;
  text-transform: uppercase;
}