
.bg-img {
  background-image: url('/assets/images/bg-img.png');
  height: 100vh;
  background-size: cover;
}


.card {
  border-radius: 30px;
  background-color: floralwhite;
}


h1 {
  color: darkslategray;
}

input {
  border-radius: 20px;
  color: darkslategray;
}


.form-control:focus {
  border-color: darkslategray;
  box-shadow: 0 0 0 0.2rem rgba(49,79,79, 0.25);
}

.sign-in-btn {
  border-radius: 20px;
  background-color: darkslategray;
  color: white;
}

.sign-in-btn:hover {
  color: peachpuff;
}

a{
    color:teal;
}



/*remember me checkbox*/
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: darkslategray;
  border-color: darkslategray;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  border-color: darkslategray !important;
  box-shadow: 0 0 0 0.2rem rgba(47,79,79, 0.25) !important;
}

.custom-control-label{
    color:darkslategray;
}
